# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem

# debug
*.log*

temp/

# svelte-kit
.svelte-kit/

# vite temp
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# git secret
.gitsecret/keys/random_seed
!*.secret

# Env
.env
.env.*
!.env.example
!.env.test

# turborepo
.turbo

.wrangler
wrangler.preview.toml
wrangler.production.toml
dist/

# debugging artifacts
.vscode/launch.json

# misc development artifacts
**/generated/
**/static/pagefind/
preprocess-inline-svg.d.ts
