/* stylelint-disable-next-line layer-name-pattern */
@layer utilities.icons.modifier {
	.i-javascript,
	.i-js {
		--icon-url: url('./images/javascript.svg');
	}

	.i-typescript,
	.i-ts {
		--icon-url: url('./images/typescript.svg');
	}

	.i-css {
		--icon-url: url('./images/css.svg');
	}

	.i-html {
		--icon-url: url('./images/html5.svg');
	}

	.i-markdown {
		--icon-url: url('./images/markdown.svg');
	}

	.i-svelte {
		--icon-url: url('./images/svelte.svg');
	}

	.i-bash,
	.i-sh {
		--icon-url: url('./images/gnometerminal.svg');
	}
}
