@plugin '@tailwindcss/typography';

@layer typography {
	:root {
		--code-block-border-radius: 0;
		--color-pre-fg: light-dark(hsl(0deg 0% 0%), hsl(0deg 0% 83%));
		--color-pre-bg: light-dark(oklch(99% 0.01 75deg), hsl(0deg 0% 12%));
	}

	/* matching the header and body of code blocks */
	.shiki {
		@media light {
			background-color: oklch(99% 0.01 75deg) !important;
		}
	}

	/*
		dark theme setup for shiki,
		see https://shiki.style/guide/dual-themes
	*/
	.shiki,
	.shiki span {
		@media dark {
			font-weight: var(--shiki-dark-font-weight) !important;
			/* Optional, if you also want font styles */
			font-style: var(--shiki-dark-font-style) !important;
			color: var(--shiki-dark) !important;
			text-decoration: var(--shiki-dark-text-decoration) !important;

			background-color: var(--shiki-dark-bg) !important;
		}
	}

	.prose {
		--tw-prose-body: var(--color-on-surface);
		--tw-prose-headings: inherit;
		--tw-prose-lead: inherit;
		--tw-prose-links: var(--color-link);
		--tw-prose-bold: inherit;
		--tw-prose-counters: inherit;
		--tw-prose-bullets: inherit;
		--tw-prose-hr: var(--color-outline);
		--tw-prose-quotes: inherit;
		--tw-prose-quote-borders: var(--color-outline);
		--tw-prose-captions: var(--color-on-surface-subtle);
		--tw-prose-code: inherit;
		--tw-prose-pre-code: var(--color-pre-fg);
		--tw-prose-pre-bg: var(--color-pre-bg);
		--tw-prose-th-borders: var(--color-outline);
		--tw-prose-td-borders: var(--color-outline);

		& figcaption:not([class~='not-prose'], [class~='not-prose'] *) {
			text-align: center;
		}

		& figure:not([class~='not-prose'], [class~='not-prose'] *) {
			margin-block: 40px;
		}

		& iframe:not([class~='not-prose'], [class~='not-prose'] *) {
			max-width: 100%;
			margin-inline: auto;
			border: 1px solid var(--color-outline);
		}

		& .footnotes {
			margin-block-start: 2.5rem; /** 40px */
			padding-inline-end: 1.5rem; /** 24px */
			border-top: 1px solid var(--color-outline);
			font-size: 0.875rem; /* 14px */
		}

		& a:not([class~='not-prose'], [class~='not-prose'] *) {
			&:not(.heading-anchor, [data-footnote-ref]) {
				/* stylelint-disable-next-line at-rule-no-deprecated */
				@apply c-link;

				text-decoration: none;
			}

			&[data-footnote-ref] {
				margin-left: 0.25em;
				text-decoration: none;

				&::before {
					content: '[';
				}

				&::after {
					content: ']';
				}
			}

			&.heading-anchor {
				position: absolute;
				top: 0;
				right: 100%;
				bottom: 0;

				margin-right: 2px;

				font-weight: inherit;
				text-decoration: none;

				opacity: 0;

				transition: opacity 200ms var(--default-transition-timing-function);

				@media (--tablet) {
					margin-right: 8px;
				}
			}
		}

		& :is(h2, h3, h4, h5, h6):not(.sr-only) {
			position: relative;

			&:hover .heading-anchor {
				opacity: 1;
			}
		}

		& :not(pre, a) > code:not([class~='not-prose'], [class~='not-prose'] *) {
			padding: 0.2em 0.375em;
			border: 1px solid;
			border-color: transparent; /* fallback if color-mix is not support */
			border-color: color-mix(in hsl, var(--color-on-surface), transparent 80%);
			border-radius: var(--code-block-border-radius, 0);

			font-weight: 400;

			background-color: var(--color-surface-variant); /* fallback if color-mix is not support */
			background-color: color-mix(in hsl, var(--color-surface-variant), transparent 95%);

			&::after,
			&::before {
				content: none;
			}
		}

		/* Assume shikijs integration */
		& pre:not([class~='not-prose'], [class~='not-prose'] *) {
			position: relative;

			padding-top: 16px;
			padding-bottom: 16px;
			padding-inline: 0;
			border: 1px solid var(--color-outline);
			border-radius: var(--code-block-border-radius, 0);

			&:hover::before {
				opacity: 0;
			}

			& code {
				display: inline-block;
				min-width: 100%;
			}

			& .line {
				--padding-inline-start: 1ch;
				--padding-inline-end: 3ch;
				--color-bg-info: light-dark(hsl(199.4deg 100% 93.3%), hsl(215deg 39% 18%));
				--color-bg-warning: light-dark(hsl(52.8deg 100% 88.6%), hsl(43deg 100% 50% / 15%));
				--color-bg-success: light-dark(
					hsl(134.4deg 100% 95.1%),
					hsl(123.04deg 36.07% 42.94% / 15%)
				);
				--color-bg-error: light-dark(hsl(5.5deg 100% 95.7%), hsl(3.12deg 74.76% 59.61% / 10%));

				display: inline-block;
				width: 100%;
				padding-inline-start: var(--padding-inline-start);
				padding-inline-end: var(--padding-inline-end);

				&::before {
					content: attr(data-line);

					display: inline-block;

					width: var(--num-line-width);
					margin-right: 2ch;

					font-variant-numeric: tabular-nums;
					color: currentcolor;
					text-align: right;

					opacity: 0.5;
				}

				&[data-line-diff] {
					--shiki-dark-bg: transparent;

					display: inline-block;
					width: 100%;

					&::after {
						position: absolute;
						left: 1ch;
						display: inline-block;
					}

					&[data-line-diff='+'] {
						background-color: var(--color-bg-success) !important;

						&::after {
							content: '+';
						}
					}

					&[data-line-diff='-'] {
						background-color: var(--color-bg-error) !important;

						&::after {
							content: '-';
						}
					}
				}

				&[data-line-highlighted] {
					--shiki-dark-bg: transparent;

					display: inline-block;
					width: 100%;

					&[data-line-highlighted='info'] {
						background-color: var(--color-bg-info) !important;
					}

					&[data-line-highlighted='success'] {
						background-color: var(--color-bg-success) !important;
					}

					&[data-line-highlighted='warning'] {
						background-color: var(--color-bg-warning) !important;
					}

					&[data-line-highlighted='error'] {
						background-color: var(--color-bg-error) !important;
					}
				}
			}

			&:has([data-focus]) {
				& .line:not([data-focus]) {
					opacity: 0.5;
					filter: blur(0.15rem);
					transition: filter 200ms ease-out;
				}

				&:is(:focus, :hover) .line:not([data-focus]) {
					opacity: 1;
					filter: blur(0);
				}
			}
		}
	}

	:is(
		.hide-line-number,
		.prose
			pre[data-num-lines='1']:not(
				[class~='not-prose'],
				[class~='not-prose'] *,
				:has(.line[data-line-diff])
			)
	) {
		& .line {
			padding-left: 2ch;

			&::before {
				content: none;
			}
		}
	}
}
