@import './breakpoints.css';
@import './colors/index.css';

@theme {
	/** font family */
	--font-inter: 'Inter', 'sans-serif';
	--font-lora: 'Lora', 'serif';

	/** font size */
	--text-2xs: 0.625rem; /* 10px */
	--text-xs: 0.75rem; /* 12px */

	/* z-index */
	--z-index-px: 1;
	--z-index-header: 50;
	--z-index-dialog: 80;
	--z-index-popup: 120;
	--z-index-overlay: 150;
	--z-index-notification: 300;

	/** border width */
	--border-width-onehalf: 1.5px;

	/* border radius */
	--radius-inherit: inherit;
	--radius-full: calc(infinity * 1px);

	/* miscellaneous */
	--leading-unset: unset;

	/** background images */
	--background-image-gradient-primary: linear-gradient(
		to bottom,
		transparent,
		var(--color-primary-surface) 10%,
		var(--color-primary-surface) 90%,
		transparent
	);
	--background-image-gradient-primary-intro: linear-gradient(
		to bottom,
		var(--color-primary-surface) 32%,
		var(--color-surface) 100%
	);

	/** shadows */
	--shadow-brutal-sm: 2px 2px var(--tw-shadow-color, currentcolor);
	--shadow-brutal: 4px 4px var(--tw-shadow-color, currentcolor);
	--shadow-brutal-lg: 8px 8px var(--tw-shadow-color, currentcolor);

	--drop-shadow-brutal-sm: 2px 2px var(--tw-shadow-color, currentcolor);
	--drop-shadow-brutal: 4px 4px var(--tw-shadow-color, currentcolor);
	--drop-shadow-brutal-lg: 8px 8px var(--tw-shadow-color, currentcolor);
}
