@utility i-flag-gb {
	@layer icons {
		aspect-ratio: 3 / 2;
		width: auto;
		height: 1em;

		background-color: transparent;
		background-image: url('./gb.svg?inline');
		background-size: 100% 100%;

		mask-image: none;
	}
}
