/*
 * NOTE: designed to work in tandem with dialog solution at sveltevietnam.dev
 * and assume to live within Tailwind context
 */
@utility c-dialog {
	@layer components {
		margin: auto;
		padding: calc(var(--spacing) * 6);
		border: 2px solid var(--color-outline);

		background-color: var(--color-surface);
		box-shadow: var(--shadow-brutal);

		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: 200ms;
		transition-property: transform, opacity, overlay, display;

		transition-behavior: allow-discrete;

		&::backdrop {
			transition-timing-function: var(--default-transition-timing-function);
			transition-duration: 200ms;
			transition-property: opacity, background-color, overlay, display;

			transition-behavior: allow-discrete;
		}

		&:is([open], :open) {
			transform: translateY(0);
			opacity: 1;
			transition-duration: 150ms;

			&::backdrop {
				opacity: 0.8;
				background-color: var(--color-surface);
				transition-duration: 150ms;
			}
		}

		@starting-style {
			&:is([open], :open) {
				transform: translateY(2rem);
				opacity: 0;

				&::backdrop {
					opacity: 0;
					background-color: transparent;
				}
			}
		}
	}
}

@keyframes fly-in-up {
	from {
		transform: translateY(2rem);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fly-out-down {
	from {
		transform: translateY(0);
		opacity: 1;
	}

	to {
		transform: translateY(2rem);
		opacity: 0;
	}
}
