@utility c-text-input {
	@layer components {
		position: relative;

		display: block;

		padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
		border: 1px solid currentcolor;

		line-height: 1.5;

		&::placeholder {
			color: var(--color-placeholder);
		}

		&:is(input, textarea),
		& :is(input, textarea) {
			appearance: none;
			background: transparent;
			outline: none;
		}

		&:not(input, textarea):has(input, textarea) {
			& :is(input, textarea) {
				border: none;
			}
		}

		&:has(img, svg, .i) {
			display: grid;
			grid-template-columns: auto 1fr;
			column-gap: calc(var(--spacing) * 3);
			align-items: center;
		}

		&:focus-visible,
		&:focus-within,
		&:has(:is(input, textarea):focus-visible) {
			border-color: var(--color-outline-focus);
			outline: 1.5px solid var(--color-outline-focus);
			outline-offset: 1px;

			@variant user-invalid {
				border-color: var(--color-error-surface-variant);
				outline-color: var(--color-error-surface-variant);
			}
		}

		@variant user-invalid {
			border-color: var(--color-error-surface-variant);
		}

		&:is(:disabled, [disabled]:not([disabled='false'])),
		&:has(:is(input, textarea):disabled) {
			cursor: not-allowed;
			background-color: var(--color-surface-variant);

			& :is(input, textarea) {
				cursor: not-allowed;
			}

			& * {
				opacity: 0.5;
			}
		}
	}
}
