@utility c-callout--success {
	@layer components.mod1 {
		@apply i-[check-circle];

		--callout-color-text: var(--color-success-on-surface);
		--callout-color-icon: var(--color-success-on-surface);
		--callout-color-bg: var(--color-success-surface);
		--callout-color-border: var(--color-success-on-surface-subtle);
		--callout-clip-path: path('M 0,26 A 26 26 0 0 0 26,0 H 2000 V 2000 H 0 Z');
	}
}
