@utility c-callout--warning {
	@layer components.mod1 {
		@apply i-[warning];

		--callout-color-text: var(--color-warning-on-surface);
		--callout-color-icon: var(--color-warning-on-surface);
		--callout-color-bg: var(--color-warning-surface);
		--callout-color-border: var(--color-warning-on-surface-subtle);
		--callout-clip-path: path('M 0,24 H 16 Q 28,24 26,10 Q 25,6 20,0 H 2000 V 2000 H 0 Z');
	}
}
